<!DOCTYPE html>
<html ng-app="preke">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/productform.js"></script>
<script src="js/showorder.js"></script>
<title>Orderis</title>
<style>
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 50%;
    
}

th, td {
    padding: 15px;
}
button{
	float: right;

	
}

p{
text-align: center;
}

.right{

margin-right: 10px;
}

.left{

margin-left: 10px;
}

</style>
</head>

<body oncontextmenu="return false;" >
<center>
<div ng-controller="orderis" ng-init="showlist()" >

<table>

		<th>Pavadnimas</th>
         <th>Kiekis</th>
         <th>Kaina</th>
      <tr ng-repeat="x in list">
       <td>
       <button  class="left" ng-click="more()">+</button>    
         {{x.pavadinimas}}<button id="{{x.pavadinimas}}" name="{{ x.kaina }}" ng-click="insert()">Užsakyti</button>
		<button  class="right" ng-click="less()">-</button>
       </td>
       <td>
       <p>{{ kiekis }}</p>
       </td>
        <td>
       <p>{{ x.kaina }}</p>
       </td>
       </tr>
</table>
</div>
<div ng-controller="showOrder" ng-init="showorder()" >
</br></br></br></br>
<table>
       	<th>Pavadnimas</th>
         <th>Kiekis</th>
         <th>Kaina</th>
      <tr ng-repeat="x in order">
       <td>
        <p>{{x.pavadinimas}}</p>
       </td>
       <td>
       <p>{{ x.kiekis }}</p>
       </td>
        <td>
       <p>{{ x.kaina }}</p>
       </td>
       </tr>
        <td>
       </td>
         <td>
          <p>Mokėti</p>
       </td>
         <td>
       <p>{{total}}</p>
       </td>
</div>
</table>
</center>
</body>
</html>
