<!DOCTYPE html>
<html>
<head>
<style>
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
button{
	float: right;
}
p{
text-align: center;
}
</style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl" ng-init="loadData()">

<table>
  <tr>
    <th>Pavadinimas</th>
    <th>Kiekis</th>   
</tr >
<tr ng-repeat="x in prekes">
    <td>{{x}}<button ng-click="more()">+</button>
<button id="{{x}}" ng-click="show()">Uzsakyti</button>
<button ng-click="less()">-</button>
    </td>
    <td><p>{{count}}</p></td>
    </tr>   

</table>
</div>
<script>
var app = angular.module('myApp', ['ngStorage']);
app.controller('myCtrl', function($scope,$localStorage) {
    $scope.count = 1;
    $scope.prekes =["Duona" ,"Alus","Obuoliai","Pomidorai","Braskes"];
    

    $scope.more = function(){
    this.count++;
  
   
    }
     $scope.less = function(){
      this.count--;
       if(this.count <= 1){
       this.count = 1
    }
    }

     $scope.show = function(){
     	$scope.preke = event.target.id;
     	if($scope.preke){
         alert("sekmingai uzsakyta");
     	}
    $scope.data = { 'pavadinimas':$scope.preke, 'kiekis':this.count

    };
    $localStorage.test = $scope.data;
    console.log($scope.data);

    }
});
</script> 

</body>
</html>
