html {
  /* moving footer with adding content*/
  position: relative;   
  min-height: 100%;;

}
body {
/* get rid of gaps about body*/
margin: 0;
padding: 0;
margin-bottom: 60px; /* !important set footer at bottom of browser window you can modify value to get gap between content and footer */
}

footer {
  /* footer */
  position: absolute; /* With absolute positioning, an element can be placed anywhere on a page. */
  bottom: 0; /* Set the bottom edge of the absolute positioned*/
  width: 100%;
  height: 60px; /* Example value */
  text-align: center;
  background-color: #efefef;

}
nav {
   /* nav bar with nav tag you can use main meniu links with no list included   */
    padding: 20px;
    background-color: #2b2e33;
    display*: inline; /*  ie hack */

}

.home{
   /* set font and size of logo */
   font-family: 'Ubuntu';
    font-size: 25px;
}


 a {

     /* links goes here */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-size: 20px;
}


/* Change the link color to #111 (black) on hover */
 a:hover {
   color: #1abc9c !important;
}

   /* set element to block */
.about{
  text-align: center;
  display: block;
}


   /* main content flex box settings*/
#main .box {
    margin-top: 60px; 
    flex-basis: 24%;
    box-sizing: border-box;
    
}


#main .box:nth-child(1){
  background-color:coral;

}

#main .box:nth-child(2){
background-color: lightblue;
}

#main .box:nth-child(3){
background-color:khaki;
}

#main .box:nth-child(4){
background-color:pink;
}


img{
  width: 100%;
  height: auto;
}

.infobar{

  background-color: #e6eaef;
  padding: 40px;

}

.welcome{ 

  font-family: 'Actor';
  font-size: 70px;
 

}

.example{
 font-family: 'Ubuntu';
  font-size: 22px;
}


.good{
 font-family: 'Ubuntu';
  font-size: 16px;

}
.new{
    font-family: 'Ubuntu';
  font-size: 25px;
}

.credits{
   font-family: 'Ubuntu';
  font-size: 18px;
  
  color: black;


}
@media screen and (min-width: 845px)
{
  #main{
 /* prefixes for most browsers */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-around;

  }

a{
  display: inline-block;
}

.about{
  float: right;
}

.welcome{
   margin-left: 200px;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Example value */
  text-align: center;
}
}


